   <header>
      <picture>
        <a href="/">
          <img
            src="/20250831_1105_File Uploader Logo_simple_compose_01k3zje88fea8tkycdc3cyjefm.png"
            alt="Logo"
            class="logo"
          />
        </a>
      </picture>
      <div class="nav">
        <a href="/signup">Sign Up</a>
        <a href="/signin">Sign In</a>
      </div>
    </header>